body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  
}

img {
  height: 90%;
  width: 90%;
}

header {
  /* background-color: teal; */
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  background-image: url(homepage-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 94%;
  opacity: 0.9;
  min-width: 1250px;
}

.title {
  width: 100%;
  height: 200px;
  text-align: center;
  color: #fff;
}

.title h1 {
  margin-top: 60px;
  font-size: 50px;
  font-weight: bold;
}

header nav {
  /* background-color: gray; */
  width: 100%;
  text-align: center;
}

nav ul {
  color: #fff;
  /* min-width: 900px; */
  /* background-color: red; */
  /* display: inline-block; */
}

nav ul li {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  padding: 16px;
  /* padding: 120px; */
  overflow-wrap: break-word;
  border: 1px solid #fff;

}

main h1 {
  text-align: center;
}

.featured-products {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
 
}

.item {
  padding: 30px 0;
  border: 2px solid black;
  min-width: 400px;

}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  border: 2px solid black;
  justify-content: space-around;
  /* width: 1200px; */
}

.team {
  /* border: 2px solid black; */
  flex:0 0 400px;         

}

.team img {
  width: 100%;
  height: 600px; 
  /* object-fit: cover;  */

}

main section {
  text-align: center;
}

.about {
  text-align: center;
  min-width: 400px;

}

.about h2 {
  margin-top: 140px;
  font-size: 36px;
}

.about p {
  margin: 40px auto;
  width: 80%;
  line-height: 1.7;
  padding: 60px 20px;
  min-width: 800px;
  font-size: 1.6rem;
  height: 300px;
}

footer {
  margin: 30px;

}

footer ul {


}

footer li {
  padding: 2px;

}

.copyright {
  margin: 0 auto;
  text-align: center;
}

.copyright p {
  position: relative;
  left: 20px;
}


footer ul li {
  display: inline;
}

@media screen and (max-width: 760px) {

  header {
    background-size: auto;
    background-position: center 110%;
    height: 645px;
    min-width: 300px;
     
    /* flex-direction: column;
    flex-wrap: wrap; */

    

  }

  .title {
    margin-left: 200px;
    width: 100%;
    text-align: left;
    /* margin-bottom: 0; */
  }

  .title h1 {
     margin-top: 20px;
  }

  header nav {
    width: 40%;
    
   
    
  }

  nav ul {
    margin-top: 0;
    margin-left: 150px;
     width: 100%;
 

  }


 nav ul li {
  display: inline-block;
  margin: 10px;
  width: 100%;
 }



}
