body {
    margin: 0;
    padding: 0; 
}

header {
    background-color: teal;
    display: flex;

}

.title {
    margin: 10px;

}


header nav {
    margin-left: auto;
    
}

nav ul {
     margin-top: 40px;
     margin-right: 20px;
}

nav ul li {
    display: inline;
    padding: 10px;
}